@{
    ViewData["Title"] = "AboutJohanna";
}

<link href="~/css/About.css" type="text/css" rel="stylesheet">

<center>
    <p></p>
    <h2> Name: </h2>
    <p>@Model.Name<br /></p>
    <h2>Date of Birth:</h2>
    <p>@Model.DateOfBirth <br /></p>
    <h2>Place of Birth: </h2>
    <p>@Model.PlaceOfBirth </p>
    <h2>About:</h2>
    <p>@Model.About  </p>

    <br />
    <br />
    <br />
    <p><a asp-area="" asp-controller="Home" asp-action="GalleryJohanna">Gallery     | </a><a asp-area="" asp-controller="Blogs" asp-action="Index"> Admin      | </a><a asp-area="" asp-controller="Home" asp-action="Newsletter"> Newsletter </a></p>
</center>