@model EFGetStarted.AspNetCore.NewDb.Models.Newsletter

@{
    ViewData["Title"] = "Newsletter";
}

<center>
    <br />
    <br />
    <form asp-controller="Home">
        <input type="email" placeholder="enter your email" id="email" asp-for="Email2">
        <button>Subscribe</button>
    </form>
    <br />

</center>
