
@{
    ViewData["Title"] = "Navigation";
}

<div class="navpictures">

    <a asp-area="" asp-controller="Home" asp-action="AboutMindaugas">
        <img src="/imageteam/mindaugas.jpg" alt="image of team member - Mindaugas" id="Mindaugas">
    </a>
    <a asp-area="" asp-controller="Home" asp-action="AboutJohanna">
        <img src="/imageteam/johanna.jpg" alt="image of team member - Johanna" id="Johanna">
    </a>
    <a asp-area="" asp-controller="Home" asp-action="AboutCristian">
        <img src="/imageteam/cristian.jpg" alt="image of team member - Cristian" id="Cristian">
    </a>

</div>

